.experienceslisttitle {
    font-family: raleway;
    margin-bottom: 50px;
    text-align: center;
}

.h2Carousel {
    font-family: raleway;
    font-size: 4.5em;
    color: white;

}

.pCarousel {
    font-family: raleway;
    font-size: 1.5em;
    color: white;
}

.FatherCarouselCaption {
    position: absolute;
    bottom: 36% !important;
}

.CarouselExp {
    margin-top: -150px;
}