.loverpic {
    height: 317px;
    object-fit: cover;
    border-radius: 0.em;
}

.loverstitle {
    margin-top: 100px;
    text-align: center;
    margin-bottom: 50px
}

.lovercard {
    width: 250px;
    height: 320px;
    background: rgb(255, 255, 255);
    border-radius: 0.em;
    box-shadow: 0.3em 0.3em 0.7em #00000015;
    transition: border 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    margin-bottom: 50px;
    margin-left: 10px;
}

.lovercard:hover {
    border: #E5E5E5 0.1em ridge;
}

.lovercard.card-text {
    font-family: raleway;
    font-weight: 400;
    font-size: 1em;
    text-align: center;
}