.navbar {
    position: fixed;
    width: 100%;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(16px) brightness(105%);
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    z-index: 2;
    color: white;
}

.logo {
    width: 100px;
}

a.nav-link {
    color: white;
}

a.nav-link:active {
    color: greenyellow;
}

.navbar-light.navbar-nav.nav-link {
    color: white;
}

.miniavatar {
    border-radius: 50px;
}

button.createAccountButton.btn.btn-primary {
    padding: 1em 1em;
    font-size: 12px;
    font-weight: 500;
    color: white;
    background-color: #F1B0CC;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    width: 100px;
}

button.createAccountButton.btn.btn-primary:hover {
    background-color: #F1B0CC;
    box-shadow: 0px 15px 20px #F1B0CC;
    color: #fff;
    transform: translateY(-7px);
}

button.createAccountButton.btn.btn-primary:active {
    transform: translateY(-1px);
}