.navbar {
    position: fixed;
    width: 100%;
    padding: 15px;
    backdrop-filter: blur(16px) brightness(105%);
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    z-index: 2;
    color: white;
}

.logo {
    width: 100px;
}

a.nav-link {
    color: black;
}

a.nav-link:active {
    color: greenyellow;
}

.navbar-light.navbar-nav.nav-link {
    color: white;
}