.FormGroup {
    margin: 0 15px 20px;
    padding: 0;
    border-style: none;
    background-color: #ffb9f6;
    will-change: opacity, transform;
    box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 #ffb9f6;
    border-radius: 4px;
}

.FormRow {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 15px;
    border-top: 1px solid #ffb9f6;
}

.StripeElement--webkit-autofill {
    background: transparent !important;
}

.StripeElement {
    width: 100%;
    padding: 11px 15px 11px 0;
}

a {
    color: pink;
    text-decoration: none;
}

.a {
    color: pink;
    text-decoration: none;
}

p {
    font-family: raleway;
}

h1 {
    font-family: Raleway;
}

h2 {
    font-family: Raleway;
}

h3 {
    font-family: Raleway;
}

h4 {
    font-family: Raleway;
}

h5 {
    font-family: Raleway;
}

h6 {
    font-family: Raleway;
}

a {
    color: black !important;
    text-decoration: none !important;
}

h4 {
    margin-top: 100px;
    margin-bottom: 50px
}