.experiencecard {
    width: 300px;
    height: 320px;
    background: rgb(255, 255, 255);
    border-radius: 0.em;
    box-shadow: 0.3em 0.3em 0.7em #00000015;
    transition: border 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    margin-bottom: 50px;
}

.experiencecard:hover {
    border: #E5E5E5 0.1em ridge;
}

.experiencecardtitle.card-text {
    font-family: raleway;
    font-weight: 400;
    font-size: 1em;
    text-align: center;
}