.card {
    width: 190px;
    height: 254px;
    border-radius: 1em;
    padding: 1.9rem;
    background: #f5f5f5;
    position: relative;
    display: flex;
    align-items: flex-end;
    transition: 0.4s ease-out;
    box-shadow: 0px 7px 20px rgba(43, 8, 37, 0.2);
    margin-bottom: 20px;
}

.card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(238, 116, 116, 0.4);
    z-index: 2;
    transition: 0.5s;
}

.card-info {
    position: relative;
    z-index: 3;
    color: #f5f5f5;
    opacity: 0;
    transform: translateY(20%);
    transition: 0.5s;
}

/*Text*/
.text-title {
    font-size: 1.5rem;
    font-weight: 500;
}

.text-body {
    letter-spacing: 1px;
    font-size: 0.9rem;
    margin: 5px 0 15px 0;
}

/*Button*/
.card-button {
    padding: 0.6rem;
    outline: none;
    border: none;
    border-radius: 4px;
    background: #ee9ca7;
    color: white;
    font-weight: bold;
    transition: 0.4s ease;
}

/*Image*/
.card-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #ee9ca7;
    background: linear-gradient(to bottom, #e7aeae, #ee9ca7);
}

/*Hover*/
.card:hover {
    transform: translateY(5%);
}

.card:hover:before {
    opacity: 1;
}

.card:hover .card-info {
    opacity: 1;
    transform: translateY(0);
}

.card-button:hover {
    background: rgba(218, 77, 77, 0.4);
    color: #f5f5f5;
}