.bgImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -5;
    margin-top: -106px;
    left: 0;
}

.button.btn-primary:active {
    transform: translateY(-1px);
}

.stepscontainer {
    margin-top: 100px;
    margin-bottom: 50px;
}

.experiencemenucontainer {
    margin-bottom: 50px;
    margin-top: 50px;
}

.collaborationscontainer {
    align-items: center;
}