.ProfileCard {
    margin-bottom: 30px;
    width: 300px;
}

.profile-img {
    width: 300px;
    object-fit: cover;
    border-radius: 250px !important;
}

p {
    background-color: #f4f4f4;
    border-radius: 8px;
    text-align: center;
}