.ProfileCard {
    margin-top: 100px;
    width: 100px;
}

.ProfileCard img {
    height: 100px;
    object-fit: cover;
}

*/ p {
    font-weight: 800;
}

img.card-img-top.avatarprofile {
    height: 100px;
    object-fit: cover;
}